body {
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 100vw;
    background: #fff;
    color: #222;
    margin: 0;
    padding: 0;
    align-content: center;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction:row;
    font-size: 14px;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 13px 0;
    width: 100vw;
}
 li {
     display:inline;
     decoration: none;
     white-space: nowrap;

 }

#about-link {
    display: inline-block;
    padding-left: 15px;
}

#store-link {
    display: inline-block;
    padding-left: 15px;
}

#gmail_link {
    display: inline-block;
    margin: auto;
    padding: 0 15px 0 15px;
    float: right;
}

#imgs_link {
    display: inline-block;
    margin: auto;
    float: right;
}

#login_bttn {
    margin: auto 10px auto 0;
    padding: 0 15px 0 15px;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    background-color: #4285f4;
    color: white;
    border-radius: 2px;
    position: relative;
    white-space: nowrap;
    font-size: 13px;
    font-weight: bold;
    outline: none;
    background: -webkit-linear-gradient (top,#4387fd,#4683ea);
    cursor: default;
    text-align: left;
    float: right;
}

#srch_form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#logo {
    transition: padding-top 0.4s ease,width 0.4s ease,height 0.4s ease;
        transition-property: padding-top, width, height;
        transition-duration: 0.4s, 0.4s, 0.4s;
        transition-timing-function: ease, ease, ease;
        transition-delay: 0s, 0s, 0s;
    padding-top: 169px; 
    width: auto;
    font-size: small;
    background: #fff;
    color: #222;
    justify-self: center;
}

#srch_bttn {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 11px 4px;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}

#lcky_bttn {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 11px 4px;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}

#search {
    display: inline-block;
    background-color: transparent;
    border-color: rgba(71, 71, 71, 0);
    border-width: 1px;
    margin: 40px 0 0 0;
    padding: 0;
    width: auto;
    border-radius: 20%;
}

input {
    -webkit-writing-mode:horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;

}

#srch_box {
    background-color: transparent;
    width: 300px;
    margin: -37px 0 0 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    font-size: 16px;
    line-height: 34px;
    font-family: arial, sans-serif;
    height: 34px !important;
    outline: initial none initial;
    flex: 1, 1, 100%;
    font-size: 16px;
    -webkit-tap-hiighlight-color: transparent;
    border-radius: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f2f2f2;
    height: auto;
    text-align: center;
    line-height: 40px;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    border-top: 1px solid #e4e4e4;
    min-width: 400px;
    list-style-type: none;
    margin: 0;
    width: 100vw;
    padding-bottom: 10px;
}


#privacy {
    display: inline-block;
    margin: 0 !important;
    float: left;
    padding-left: 27px;
    text-align: center;
    line-height: 40px;
    color: #5f6368;
}

#terms {
    display: inline-block;
    float: left;
    margin: 0 !important;
    padding-left: 27px;
    text-align: center;
    line-height: 40px;
    color: #5f6368;
}

#settings{    
    margin: 0 !important;
    float: left;
    display: inline-block;
    padding-left: 27px;
    text-align: center;
    line-height: 40px;
    color: #5f6368;
}

#ads {
    display: inline-block;
    float: right;
    margin: 0 !important;
    padding-left: 27px;
    text-align: center;
    line-height: 40px;
    color: #5f6368;
}

#bus {
    display: inline-block;
    float:right;
    margin: 0 !important;    
    padding-left: 27px;
    text-align: center;
    line-height: 40px;
    color: #5f6368;
}

#how {
    display: inline-block;
    float:right;
    margin: 0 !important;
    padding-left: 27px;
    text-align: center;
    line-height: 40px;
    color: #5f6368;
}

a {
    color: rgba(0,0,0,.87);
    text-decoration: none;
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
    padding-right: 15px;
    font-size: 13px;
    color:rgba(0,0,0,.87);
    white-space: nowrap;
}